@import url("https://fonts.googleapis.com/css2? family = Rubik: wght @ 600 & display = swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Slackey&display=swap");

.menu {
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.h2 {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    color: yellow;
    font-size: 30px;
    position: absolute;
    margin-bottom: 50px;
}
.blockMenu{
    margin-top: 110px;
    width: 700px;
    height: 700px;
}

.btn{
    width: 100%;
    height: 60px;
    margin-top: 20px;
    font-size: 25px;
    background: rgba(131, 131, 131, 0.781);
    border: 3px solid rgba(255, 255, 255, 0.678);
    color: rgba(3, 3, 3, 0.836);
    transition: 0.4s;
    .li{
        text-decoration:none;
        color: rgba(3, 3, 3, 0.836);
    }
}

.btn:hover{
    background: rgba(60, 60, 65, 0.596);
    border: 3px solid rgba(0, 0, 0, 0.678);
    color: rgba(255, 255, 255, 0.918);
    .li{
        color: rgba(255, 255, 255, 0.836);
    }
}